/* //////////////////////////////////////////////////////////// */
/* для мобильных min-width: 320px and max-width: 420px!!!!!!!!! */

@media screen and (min-device-width: 320px) and (max-device-width: 420px) {
  html {
    font-size: 12px;
    /*Основная единица измерения*/
    line-height: 1.15;
    /*Стандартная высота строки*/
    -webkit-text-size-adjust: 100%;
    /*Отключает автоматическое увеличение текста в Safari*/
    scroll-behavior: smooth;
    /*Плавная прокрутка*/
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  #container_for_generation_phrases {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #container_for_generation_phrases .form {
    padding: 1em 1em;
    margin: 1em 1em;
  }

  .form .block_head .txt_head {
    text-align: center;
    margin-top: 0;
    font: normal 1 open_regular;
    margin-bottom: 2em;
  }

  .word_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 1em;
    width: 100%;
  }

  .word_list1,
  .word_list2,
  .word_list3,
  .word_list4,
  .word_list5 {
    display: inline-block;
    margin-bottom: 0.1em;
    width: 12em;
  }

  .word_list .line1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1em;
    font-weight: 600;
    height: 1em;
  }

  .txt_head_lable {
    text-align: center;
    align-content: center;
  }

  .word_list .line2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    position: relative;
    height: 1em;
    width: 100%;
  }

  .line2 .lable_and_input {
    display: flex;
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
  }

  #but_clean1,
  #but_clean2,
  #but_clean3,
  #but_clean4,
  #but_clean5 {
    position: absolute;
    right: 0;
    text-align: center;
    cursor: pointer;
    border: 0.1em solid #d95450;
    border-radius: 0.3rem;
  }

  textarea:focus {
    box-shadow: 25px 20px 20px -25px rgba(0, 0, 0, 0.3);
  }

  #word_value1,
  #word_value2,
  #word_value3,
  #word_value4,
  #word_value5 {
    width: 100%;
    height: 30em;
    padding: 0.5em 0.5em;
    color: #333;
    border-radius: 0.1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .cont_but {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    margin-bottom: 0.2em;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: center;
    text-align: center;
  }

  #but_new_rezult {
    display: inline-block;
    padding: 0.4em 0.4em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }

  #but_cleans {
    display: inline-block;
    padding: 0.4em 0.4em;
    color: #fff;
    background: #d95450;
    cursor: pointer;
  }

  .cont_rezult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0.5em;
    width: 100%;
    font-size: 1em;
    align-items: center;
  }

  .cont_rezult .txt_head {
    text-align: center;
    color: #333;
    margin-bottom: 0.5em;
  }

  #rezult_count {
    color: #007bff;
    margin-left: 0.1rem;
  }

  #rezult_out {
    width: 100%;
    height: 30em;
    margin-bottom: 1em;
    border: 0.1em solid #d95450;
    border-radius: 0.3em;
    padding: 0.5em 0.5em;
    color: #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .rezult_copy_block {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font-size: 1em;
  }

  #rezult_copy {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }

  #settings_all {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    justify-content: flex-start;
    font-size: 1em;
  }

  .setting_block {
    flex-grow: 1;
  }

  #settings_all .txt_head {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bolder;
  }

  .user_action {
    margin-bottom: 0.5em;
  }

  .label_block {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #additional_user_actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;
  }
}

/* //////////////////////////////////////////////////////////// */
/* для мобильных min-width: 420px and max-width: 768px!!!!!!!!! */

@media screen and (min-device-width: 420px) and (max-device-width: 768px) {
  html {
    font-size: 16px;
    /*Основная единица измерения*/
    line-height: 1.15;
    /*Стандартная высота строки*/
    -webkit-text-size-adjust: 100%;
    /*Отключает автоматическое увеличение текста в Safari*/
    scroll-behavior: smooth;
    /*Плавная прокрутка*/
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  #container_for_generation_phrases {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #container_for_generation_phrases .form {
    padding: 1em 1em;
    margin: 1em 1em;
  }

  .form .block_head .txt_head {
    text-align: center;
    margin-top: 0;
    font: normal 1 open_regular;
    margin-bottom: 2em;
  }

  .word_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 1em;
    width: 100%;
  }

  .word_list1,
  .word_list2,
  .word_list3,
  .word_list4,
  .word_list5 {
    display: inline-block;
    margin-bottom: 0.1em;
    width: 12em;
  }

  .word_list .line1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1em;
    font-weight: 600;
    height: 1em;
  }

  .txt_head_lable {
    text-align: center;
    align-content: center;
  }

  .word_list .line2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    position: relative;
    height: 1em;
    width: 100%;
  }

  .line2 .lable_and_input {
    display: flex;
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
  }

  #but_clean1,
  #but_clean2,
  #but_clean3,
  #but_clean4,
  #but_clean5 {
    position: absolute;
    right: 0;
    text-align: center;
    cursor: pointer;
    border: 0.1em solid #d95450;
    border-radius: 0.3rem;
  }

  textarea:focus {
    box-shadow: 25px 20px 20px -25px rgba(0, 0, 0, 0.3);
  }

  #word_value1,
  #word_value2,
  #word_value3,
  #word_value4,
  #word_value5 {
    width: 100%;
    height: 30em;
    padding: 0.5em 0.5em;
    color: #333;
    border-radius: 0.1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .cont_but {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    margin-bottom: 0.2em;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: center;
    text-align: center;
  }

  #but_new_rezult {
    display: inline-block;
    padding: 0.4em 0.4em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }

  #but_cleans {
    display: inline-block;
    padding: 0.4em 0.4em;
    color: #fff;
    background: #d95450;
    cursor: pointer;
  }

  .cont_rezult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0.5em;
    width: 100%;
    font-size: 1em;
    align-items: center;
  }

  .cont_rezult .txt_head {
    text-align: center;
    color: #333;
    margin-bottom: 0.5em;
  }

  #rezult_count {
    color: #007bff;
    margin-left: 0.1rem;
  }

  #rezult_out {
    width: 95%;
    height: 30em;
    margin-bottom: 1em;
    border: 0.1em solid #d95450;
    border-radius: 0.3em;
    padding: 0.5em 0.5em;
    color: #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .rezult_copy_block {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font-size: 1em;
  }

  #rezult_copy {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }

  #settings_all {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    justify-content: flex-start;
    font-size: 1em;
  }

  .setting_block {
    flex-grow: 1;
  }

  #settings_all .txt_head {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bolder;
  }

  .user_action {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
  }

  .label_block {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #additional_user_actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;
  }
}

/* //////////////////////////////////////////////////////////// */
/* для tablet min-width: 786px and max-width: 1024px!!!!!!!!! */

@media screen and (min-device-width: 786px) and (max-device-width: 1024px) {
  html {
    font-size: 16px;
    /*Основная единица измерения*/
    line-height: 1.15;
    /*Стандартная высота строки*/
    -webkit-text-size-adjust: 100%;
    /*Отключает автоматическое увеличение текста в Safari*/
    scroll-behavior: smooth;
    /*Плавная прокрутка*/
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  #container_for_generation_phrases {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #container_for_generation_phrases .form {
    padding: 1em 1em;
    margin: 1em 1em;
  }

  .form .block_head .txt_head {
    text-align: center;
    margin-top: 0;
    font: normal 1 open_regular;
    margin-bottom: 2em;
  }

  .word_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 1em;
    width: 100%;
  }

  .word_list1,
  .word_list2,
  .word_list3,
  .word_list4,
  .word_list5 {
    display: inline-block;
    margin-bottom: 0.1em;
    width: 12em;
  }

  .word_list .line1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1em;
    font-weight: 600;
    height: 1em;
  }

  .txt_head_lable {
    text-align: center;
    align-content: center;
  }

  .word_list .line2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    position: relative;
    height: 1em;
    width: 100%;
  }

  .line2 .lable_and_input {
    display: flex;
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
  }

  #but_clean1,
  #but_clean2,
  #but_clean3,
  #but_clean4,
  #but_clean5 {
    position: absolute;
    right: 0;
    text-align: center;
    cursor: pointer;
    border: 0.1em solid #d95450;
    border-radius: 0.3rem;
  }

  textarea:focus {
    box-shadow: 25px 20px 20px -25px rgba(0, 0, 0, 0.3);
  }

  #word_value1,
  #word_value2,
  #word_value3,
  #word_value4,
  #word_value5 {
    width: 100%;
    height: 30em;
    padding: 0.5em 0.5em;
    color: #333;
    border-radius: 0.1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .cont_but {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    margin-bottom: 0.2em;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: center;
    text-align: center;
  }

  #but_new_rezult {
    display: inline-block;
    padding: 0.4em 0.4em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }

  #but_cleans {
    display: inline-block;
    padding: 0.4em 0.4em;
    color: #fff;
    background: #d95450;
    cursor: pointer;
  }

  .cont_rezult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0.5em;
    width: 100%;
    font-size: 1em;
    align-items: center;
  }

  .cont_rezult .txt_head {
    text-align: center;
    color: #333;
    margin-bottom: 0.5em;
  }

  #rezult_count {
    color: #007bff;
    margin-left: 0.1rem;
  }

  #rezult_out {
    width: 95%;
    height: 30em;
    margin-bottom: 1em;
    border: 0.1em solid #d95450;
    border-radius: 0.3em;
    padding: 0.5em 0.5em;
    color: #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .rezult_copy_block {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font-size: 1em;
  }

  #rezult_copy {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }

  #settings_all {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    justify-content: flex-start;
    font-size: 1em;
  }

  .setting_block {
    flex-grow: 1;
  }

  #settings_all .txt_head {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bolder;
  }

  .user_action {
    display: flex;
    flex-direction: column;
  }

  .label_block {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #additional_user_actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;
  }
}

/* //////////////////////////////////////////////////////////// */
/* для мобильных min-width: 1024px and max-width: 1200px!!!!!!!!! */

@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
  html {
    font-size: 16px;
    /*Основная единица измерения*/
    line-height: 1.15;
    /*Стандартная высота строки*/
    -webkit-text-size-adjust: 100%;
    /*Отключает автоматическое увеличение текста в Safari*/
    scroll-behavior: smooth;
    /*Плавная прокрутка*/
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  #container_for_generation_phrases {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #container_for_generation_phrases .form {
    padding: 1em 1em;
    margin: 1em 1em;
  }

  .form .block_head .txt_head {
    text-align: center;
    margin-top: 0;
    font: normal 1 open_regular;
    margin-bottom: 2em;
  }

  .word_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 1em;
    width: 100%;
  }

  .word_list1,
  .word_list2,
  .word_list3,
  .word_list4,
  .word_list5 {
    display: inline-block;
    margin-bottom: 0.1em;
    width: 12em;
  }

  .word_list .line1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1em;
    font-weight: 600;
    height: 1em;
  }

  .txt_head_lable {
    text-align: center;
    align-content: center;
  }

  .word_list .line2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    position: relative;
    height: 1em;
    width: 100%;
  }

  .line2 .lable_and_input {
    display: flex;
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
  }

  #but_clean1,
  #but_clean2,
  #but_clean3,
  #but_clean4,
  #but_clean5 {
    position: absolute;
    right: 0;
    text-align: center;
    cursor: pointer;
    border: 0.1em solid #d95450;
    border-radius: 0.3rem;
  }

  textarea:focus {
    box-shadow: 25px 20px 20px -25px rgba(0, 0, 0, 0.3);
  }

  #word_value1,
  #word_value2,
  #word_value3,
  #word_value4,
  #word_value5 {
    width: 100%;
    height: 30em;
    padding: 0.5em 0.5em;
    color: #333;
    border-radius: 0.1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .cont_but {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    margin-bottom: 0.2em;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: center;
    text-align: center;
  }

  #but_new_rezult {
    display: inline-block;
    padding: 0.4em 0.4em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }

  #but_cleans {
    display: inline-block;
    padding: 0.4em 0.4em;
    color: #fff;
    background: #d95450;
    cursor: pointer;
  }

  .cont_rezult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0.5em;
    width: 100%;
    font-size: 1em;
    align-items: center;
  }

  .cont_rezult .txt_head {
    text-align: center;
    color: #333;
    margin-bottom: 0.5em;
  }

  #rezult_count {
    color: #007bff;
    margin-left: 0.1rem;
  }

  #rezult_out {
    width: 95%;
    height: 30em;
    margin-bottom: 1em;
    border: 0.1em solid #d95450;
    border-radius: 0.3em;
    padding: 0.5em 0.5em;
    color: #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .rezult_copy_block {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font-size: 1em;
  }

  #rezult_copy {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }

  #settings_all {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    justify-content: flex-start;
    font-size: 1em;
  }

  .setting_block {
    flex-grow: 1;
  }

  #settings_all .txt_head {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bolder;
  }

  .user_action {
    display: flex;
    flex-direction: column;
  }

  .label_block {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #additional_user_actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;
  }
}

/* //////////////////////////////////////////////////////////// */
/* для desctop min-width: 1200px and max-width: 1600px!!!!!!!!! */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  html {
    font-size: 16px;
    /*Основная единица измерения*/
    line-height: 1.15;
    /*Стандартная высота строки*/
    -webkit-text-size-adjust: 100%;
    /*Отключает автоматическое увеличение текста в Safari*/
    scroll-behavior: smooth;
    /*Плавная прокрутка*/
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  #container_for_generation_phrases {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #container_for_generation_phrases .form {
    padding: 1em 1em;
    margin: 1em 1em;
  }

  .form .block_head .txt_head {
    text-align: center;
    margin-top: 0;
    font: normal 1 open_regular;
    margin-bottom: 2em;
  }

  .word_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 1em;
    width: 100%;
  }

  .word_list1,
  .word_list2,
  .word_list3,
  .word_list4,
  .word_list5 {
    display: inline-block;
    margin-bottom: 0.1em;
    width: 12em;
  }

  .word_list .line1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 0.2em;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1em;
    font-weight: 600;
    height: 1em;
  }

  .word_list .line2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    position: relative;
    height: 1em;
    width: 100%;
  }

  .line2 .lable_and_input {
    display: flex;
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
  }

  #but_clean1,
  #but_clean2,
  #but_clean3,
  #but_clean4,
  #but_clean5 {
    position: absolute;
    right: 0;
    text-align: center;
    cursor: pointer;
    border: 0.1em solid #d95450;
    border-radius: 0.3rem;
  }

  textarea:focus {
    box-shadow: 25px 20px 20px -25px rgba(0, 0, 0, 0.3);
  }

  #word_value1,
  #word_value2,
  #word_value3,
  #word_value4,
  #word_value5 {
    width: 100%;
    height: 30em;
    padding: 0.5em 0.5em;
    color: #333;
    border-radius: 0.1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .cont_but {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    margin-bottom: 0.2em;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: center;
    text-align: center;
  }

  #but_new_rezult {
    display: inline-block;
    padding: 0.4em 0.4em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }

  #but_cleans {
    display: inline-block;
    padding: 0.4em 0.4em;
    color: #fff;
    background: #d95450;
    cursor: pointer;
  }

  .cont_rezult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0.5em;
    width: 100%;
    font-size: 1em;
    align-items: center;
  }

  .cont_rezult .txt_head {
    text-align: center;
    color: #333;
    margin-bottom: 0.5em;
  }

  #rezult_count {
    color: #007bff;
    margin-left: 0.1em;
  }

  #rezult_out {
    width: 80%;
    height: 30em;
    margin-bottom: 1em;
    border: 0.1em solid #d95450;
    border-radius: 0.3em;
    padding: 0.5em 0.5em;
    color: #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .rezult_copy_block {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font-size: 1em;
  }

  #rezult_copy {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }

  #settings_all {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    justify-content: flex-start;
    font-size: 1em;
  }

  .setting_block {
    flex-grow: 1;
  }

  #settings_all .txt_head {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bolder;
  }

  .user_action {
    display: flex;
    flex-direction: column;
  }

  .label_block {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #additional_user_actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;
  }
}

/* //////////////////////////////////////////////////////////// */
/* для desctop min-width: 1600px and max-width: 1920px!!!!!!!!! */

@media screen and (min-device-width: 1600px) and (max-device-width: 1920px) {
  html {
    font-size: 16px;
    /*Основная единица измерения*/
    line-height: 1.15;
    /*Стандартная высота строки*/
    -webkit-text-size-adjust: 100%;
    /*Отключает автоматическое увеличение текста в Safari*/
    scroll-behavior: smooth;
    /*Плавная прокрутка*/
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  #container_for_generation_phrases {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #container_for_generation_phrases .form {
    padding: 1em 1em;
    margin: 1em 1em;
  }

  .form .block_head .txt_head {
    text-align: center;
    margin-top: 0;
    font: normal 1 open_regular;
    margin-bottom: 2em;
  }

  .word_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 1em;
    width: 100%;
  }

  .word_list1,
  .word_list2,
  .word_list3,
  .word_list4,
  .word_list5 {
    display: inline-block;
    margin-bottom: 0.1em;
    width: 12em;
  }

  .word_list .line1 {
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1em;
    font-weight: 600;
  }

  .txt_head_lable {
    text-align: center;
    align-content: center;
  }

  .word_list .line2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    position: relative;
    height: 1.2em;
    width: 100%;
  }

  .line2 .lable_and_input {
    display: flex;
    align-items: center;
    gap: 0.1em;
    justify-content: flex-start;
  }

  #but_clean1,
  #but_clean2,
  #but_clean3,
  #but_clean4,
  #but_clean5 {
    position: absolute;
    right: 0;
    text-align: center;
    cursor: pointer;
    border: 0.1em solid #d95450;
    border-radius: 0.rem;
  }

  textarea:focus {
    box-shadow: 25px 20px 20px -25px rgba(0, 0, 0, 0.3);
  }

  #word_value1,
  #word_value2,
  #word_value3,
  #word_value4,
  #word_value5 {
    width: 100%;
    height: 30em;
    padding: 0.5em 0.5em;
    color: #333;
    border-radius: 0.1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .cont_but {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    margin-bottom: 0.2em;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: center;
    text-align: center;
  }

  #but_new_rezult {
    display: inline-block;
    padding: 0.4em 0.4em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }

  #but_cleans {
    display: inline-block;
    padding: 0.4em 0.4em;
    color: #fff;
    background: #d95450;
    cursor: pointer;
  }

  .cont_rezult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0.5em;
    width: 100%;
    font-size: 1em;
    align-items: center;
  }

  .cont_rezult .txt_head {
    text-align: center;
    color: #333;
    margin-bottom: 0.5em;
  }

  #rezult_count {
    color: #007bff;
    margin-left: 0.1rem;
  }

  #rezult_out {
    width: 80%;
    height: 30em;
    margin-bottom: 1em;
    border: 0.1em solid #d95450;
    border-radius: 0.3em;
    padding: 0.5em 0.5em;
    color: #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

  .rezult_copy_block {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font-size: 1em;
  }

  #rezult_copy {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }

  #settings_all {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    justify-content: flex-start;
    font-size: 1em;
  }

  .setting_block {
    flex-grow: 1;
  }

  #settings_all .txt_head {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bolder;
  }

  .user_action {
    display: flex;
    flex-direction: column;
  }

  .label_block {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #additional_user_actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;
  }
}